.domputer-player {
	width: 800px;
	height: 500px;
	position: relative;
	border: 1em solid #444;
	padding: 0;
	background: #444;
}

.domputer-player .canvas-scroller {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 100px;
	overflow: auto;
	padding: 0;
	background: #444;
}

.domputer-player canvas {
	position: absolute;
	top: 0;
	left: 0;
}

.domputer-player .controls {
	position: absolute;
	display: flex;
	justify-content: space-between;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background: #000;
}

.domputer-player .controls button {
	background: #444;
	color: #fff;
	border: none;
	padding: 0 30px;
	font-size: 20px;
	cursor: pointer;
}

.domputer-player .controls button:hover {
	background: #fff;
	color: #000;
}

.domputer-player .controls .expand {
	order: 5;
}
.domputer-player .controls .reset {
	order: 2;
}
.domputer-player .controls .reveal {
	order: 4;
}
.domputer-player .controls .play {
	order: 1;
}
.domputer-player .controls .test-results {
	order: 4;
	flex-grow: 1;
	padding: 20px;
}

.domputer-player .controls .expand:before {
	content: 'Expand';
}
.domputer-player .controls .reset:before {
	content: 'Reset';
}
.domputer-player .controls .reveal:before {
	content: 'Reveal Answer';
}
.domputer-player .controls .play:before {
	content: 'Play';
}

.domputer-player .controls div {
	color: white;
}

.domputer-player.expanded {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	border: none;
}